/* Глобальные стили */

/* Установите box-sizing в border-box, чтобы включить отступы и границы в общую ширину элемента */
* {
  box-sizing: border-box;
}

/* Сбросить отступы и отступы */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Адаптивные стили */

/* Дополнительные стили для планшета */
@media only screen and (max-width: 770px) {

  .column {
    flex-basis: 80%;
    margin-top: 50px;
  }

}

/* Дополнительные стили для мобильного устройства */
@media only screen and (max-width: 480px) {
  /* Ширина колонок на мобильном устройстве */
  .column {
    flex-basis: 100%;
    margin: 0 10px 20px;
  }
}
