.card {
    width: 95%;
    min-height: fit-content;
    border: 1px solid gray;
    border-radius: 15px;
    margin:10px auto;
    padding: 5px;
    box-sizing: border-box;
    background-color: #d5e8d4; 
    /* зеленый #d5e8d4 */
    /* серый #f5f5f5  */
    /* синий #d9e8fb  */
    /* красный #f7cecc */
}

/* три временных стиля temp1, temp2, temp3 для цветов карточек в 3 колонке, потом снести */
.temp1 {
    background-color: #f5f5f5; 
}
.temp2 {
    background-color: #d9e8fb; 
}
.temp3 {
    background-color: #f7cecc; 
}
/* три временных стиля temp1, temp2, temp3 для цветов карточек в 3 колонке, потом снести */

.card-top-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.card-title {
    margin: 10px 0 10px 5px;
}
.card-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0 15px 5px;
    text-align: justify;
}
.user {
    margin: 10px 0 10px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}