.button-move {
    height: 35px;
    margin: 0 15px;
    border:1px solid gray;
    padding: 20px 10px 5px 10px;
    background-color: #fff;
    border-radius: 5px;
}
.button-move a {
    color:#000;
    text-decoration: none;
    font-weight: bold;
}